@import '_variables.scss';

.card-body {
    display: inline-block;
    margin: 20px;
    background-color: $tan;
    padding: 15px;
    box-shadow: -5px 6px 11px 0px #0e2a4063;
    /* border: 2px solid #053080; */
    border-radius: 20px;
    color: $black;
    width: 350px;

    &:hover {
        cursor: pointer;
        background-color: #f2fafa;
        /* box-shadow: inset -1px -1px 0px 0px black; */
    }

    h5 {
        margin-top: 10px;
        font-size: 25px;
    }

}

.nav-pills {
    a.nav-link {
        color: $light_grey;
        font-size: large;
        font-weight: 450;
    }
    
}

  
.card-img-top {
    width: 300px
}


div#recipes, div#header {
    text-align: center;
}

body {
    background-color: $tan;
}

.jumbotron {
    background-color: #282B33;
    padding: 30px;
}

h1 {
    color: $light_grey;
    font-family: 'Ranga', cursive;
    font-style: italic;
    cursor: pointer;
}


[type=search] {
    border: none;
    border-radius: 4px;
    width: 70%;
    height: 50px;
    font-size: 20px;
    
  }

input#btnRecipeSearch {
    height: 50px;
    width: 90px;
    font-size: 18px;
    border-radius: 5px;
}

#toTop {
    background-color: $black;
    width: 50px;
    height: 70px;
    position: fixed;
    top: 88%;
    left: 93%;
    cursor: pointer;
    color: $light_grey;
    text-align: center;
    padding-top: 10px;

    @media only screen and (max-width: 768px) {
        left: 85%;
    } 

}

h6 {
    color: $light_grey;
}

h2 {
    color: $dark_blue;
}

form {
    margin-top: 25px;
    & input {
        width: 90%;
        border: 2px $light_grey solid;
        border-radius: 5px;
        padding: 6px;
        
    }
    & label {
        color: $light_blue;
        display: block;
    }
   
}

.fa-heart {
    color: white;
}

.red {
    color: red;
}

