{% extends 'layout.html' %}

{% block body %}
    <div id="header">
        <h1 class="jumbotron" style="text-align: center;">Welcome to Mangiamo</h1>
        <form method="post">
            <input type="search" name="searchBar" id="tbRecipeSearch" placeholder="Enter ingredients..."/>
            <input type="submit" name="searchBtn" id="btnRecipeSearch" class="btn-success" value="Search" />
        </form>
    </div>
    
    <div id="recipes">
        {% for item in data %}
            <div class="card-body">
                <img src="{{item['recipe']['image']}}" class="card-img-top" alt="...">
                <h5 class="card-title">{{item['recipe']['label']}}</h5>
                <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                <a href="{{item['recipe']['url']}}" class="card-link">Link</a>
            </div>
        {% endfor %}
    </div>
    <div id="content">
        
    </div>

{% endblock %}