{% extends 'layout.html' %}

{% block body %}
    <div id="header">
        {% if session.logged_in %}
            <p>Welcome <strong>{{session.first_name}}</strong>, what would you like to eat today?</p>
        {% endif %}
        <form method="post" id ="frmRecipeSearch">
            <div class="container"> 
                <h6 id="lblMaxNumIngredients">Max # of Ingredients:</h6>
                <div class="divMaxIngredients">       
                    <div class="divNumIngredients">
                        <p>5</p>
                    </div>
                    <div class="divNumIngredients">
                        <p>10</p>
                    </div>
                    <div class="divNumIngredients">
                        <p>20</p>
                    </div>
                    <div class="divNumIngredients chosen">
                        <p>Any</p>
                    </div>
                </div>
                <div> 
                    <input type="search" name="searchBar" id="tbRecipeSearch" placeholder="Enter ingredients..."/>
                    <input type="button" name="searchBtn" id="btnRecipeSearch" class="btn-success" value="Search" />
                </div>
            </div>
           
        </form>
    </div>
    
    <div id="recipes">
        
    </div>
    <div id="loader" style="text-align: center;">
        
    </div>
    <div id="toTop">
        <i class="fas fa-arrow-up fa-3x"></i>
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
{% endblock %}