<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mangiamo</title>   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body>
    <header class="jumbotron">
        <h1 id="header" style="text-align: center; float:right;">Mangiamo</h1>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            {% if session.logged_in %}
                <li class="nav-item registration">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item registration">
                    <a class="nav-link" style="color:cyan;" href="">{{session.email}}</a>
                </li>
            {% else %}
                <li class="nav-item registration">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item registration">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            {% endif %}
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li> -->
        </ul>
    </header>
   
    {% block body %}{% endblock %}
    <script src="https://kit.fontawesome.com/35757ef71c.js"></script> 
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
    <script>
        // header on click
        document.getElementById('header').addEventListener('click', e => {
            window.location.href = '/';
        });
    </script>
    

</body>
</html>