{% extends 'layout.html' %}

{% block body %}
    <div id="user_likes">
        <h2>Likes</h2>
        {% for like in data %}
        <div class='card-body'>
            <img class='card-img-top' src='{{like.image}}' style='cursor: pointer;' onclick='window.location.href = "{{like.url}}"'>
            <h5 class='card-title'>{{like.label}}</h5>
        </div>
    {% endfor %}
    </div>
    <script type="text/javascript" src="{{url_for('static', filename='js/likes.js')}}"></script>
{% endblock %}